.DS_Store
.env
.grunt
.idea
.project
.settings
.webpack.json
bower_components
build/Release
coverage
coverage/
coverage-mapped.json
dist
dist/**
doc/
e2e/**/*.js
e2e/**/*.js.map
ehthumbs.db
es5
Icon?
jspm_packages
lib-cov
link-checker-results.txt
logs
nbproject
node_modules
npm-debug.log
npm-debug.log.*
pids
public
public/dist/
public/__build__/
src/typings/tsd/
src/*/dist/
src/*/__build__/
Thumbs.db
tsd_typings/
typings
typings/
_test-output
_temp
__build__/**
**/*npm-debug.log.*
*.js
*.js.map
.lock-wscript
*.log
*.pid
*.seed
*.swp
!karma*.js
!protractor*.js
!systemjs.config.js
!typings/typings.d.ts
!wallaby.js
