body {
    background-image: url("./images/wood.png");
    background-repeat: repeat;
    margin: 2em;
    padding-left: 100px;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.ticTacToe--title {
    background: url("./images/tick-tack-doughnut-title.png");
    background-repeat: no-repeat;
    height: 120px;
    margin: 0 auto;
    margin-left: 130px;
    text-indent: -9999px;
    width: 700px;
}

.ticTacToe--main-container {
    flex-flow: row wrap;
    justify-content: space-around;
    height: 750px;
    margin: 0 auto;
}

.ticTacToe--board {
    height: 700px;
    margin: 0 auto;
    order: 2;
    display: none;
    width: 700px;
    min-width: 700px;
}

div[class^="ticTacToe--board-cell"] {
    border: 2px dashed #111;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor:pointer;
    float:left;
    font-family: "Arial Narrow";
    font-weight: bold;
    font-size: 180px;
    height: 233px;
    line-height: 233px;
    text-align: center;
    width: 233px;
}

.ticTacToe--board-cell--background {
    background: url("./images/background.png");
    background-repeat: no-repeat;   
}

.ticTacToe--board-cell--win {
    background: url("./images/win.png");
    background-repeat: no-repeat;   
}

.ticTacToe--board-cell--x {
    color: red;
    background: url("./images/tick.png");
    text-indent: -9999px;
}

.ticTacToe--board-cell--o {
    background: url("./images/doughnut.png");
    color: green;
    text-indent: -9999px;
}

.ticTacToe--control {
    font-family: "Arial Narrow";
    font-size: 40px;
    font-weight: bold;
    height: 100px;
    order: 1;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    width: 800px;
}


div[class^="ticTacToe--level"] {
    margin: 0 15px;
    color: #111;                  
    cursor: pointer;
}

.ticTacToe--level--not-selected {
    opacity: 0.5;
    color: #2B2922
}

.ticTacToe--level--not-selected:hover {
    opacity: 1;
}

.ticTacToe--level-separator {
    color: #004000;
    padding-right:20px;
}

div[class^="ticTacToe--action"] {
    background-color: #2B2922;
    border-radius: 50px;
    color: white;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    cursor:pointer;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    opacity:0.5;
    text-align: center;
    width: 200px;
}

div[class^="ticTacToe--action"]:hover {
    opacity:1;
}

div[class^="ticTacToe--ingame"] {
    display:none;
    color:#111;
}

div[class^="ticTacToe--ingame"] > p {
    margin: 0px;
}

.ticTacToe--ingame--computer-image {
    opacity:0.5;
}