div[class^="ticTacToe--board-cell"] {
	border: 2px dashed #111;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	cursor: pointer;
	float: left;
	font-family: "Arial Narrow";
	font-weight: bold;
	font-size: 180px;
	height: 250px;
	line-height: 250px;
	text-align: center;
	width: 250px;
}

.ticTacToe--board-cell--background {
	background: url("img/background.png");
	background-repeat: no-repeat;
}

.ticTacToe--board-cell--winner {
	background: url("img/win.png");
	background-repeat: no-repeat;
}

.ticTacToe--board-cell--X {
	color: red;
	background: url("img/tick.png");
	text-indent: -9999px;
}

.ticTacToe--board-cell--O {
	background: url("img/doughnut.png");
	color: green;
	text-indent: -9999px;
}