div[class^="ticTacToe--board-cell"] {
    background-repeat: no-repeat;
	background-size: 200px 200px;
	border: 2px dashed #111;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	cursor: pointer;
	float: left;
	font-family: "Arial Narrow";
	font-weight: bold;
	font-size: 180px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	width: 200px;
}

.ticTacToe--board-cell--background {
	background: url("img/background.png");
}

.ticTacToe--board-cell--winner {
	background: url("img/win.png");
}

.ticTacToe--board-cell--X {
	background: url("img/tick.png");
    color: red;
	text-indent: -9999px;
}

.ticTacToe--board-cell--O {
	background: url("img/doughnut.png");
	color: green;
	text-indent: -9999px;
}