body {
    background-image: url("../img/wood.png");
    background-repeat: repeat;
    margin: 2em;
    padding-left: 100px;
}

.ticTacToe--title {
    background: url("../img/tick-tack-doughnut-title.png");
    background-repeat: no-repeat;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 130px;
    text-indent: -9999px;
    width: 700px;
}
