div[class^="ticTacToe--board-cell"] {
    border: 2px dashed #111;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor:pointer;
    float:left;
    font-family: "Arial Narrow";
    font-weight: bold;
    font-size: 180px;
    height: 233px;
    line-height: 233px;
    text-align: center;
    width: 233px;
}

.ticTacToe--board-cell--background {
    background: url("./images/background.png");
    background-repeat: no-repeat;   
}

.ticTacToe--board-cell--winner {
    background: url("./images/win.png");
    background-repeat: no-repeat;   
}

.ticTacToe--board-cell--x {
    color: red;
    background: url("./images/tick.png");
    text-indent: -9999px;
}

.ticTacToe--board-cell--o {
    background: url("./images/doughnut.png");
    color: green;
    text-indent: -9999px;
}

