.body {
    background-image: url("ticTacToe/images/wood.png");
}

.ticTactoe--title {
    width: 700px;
    height: 75px;
    background: url("ticTacToe/images/tick-tack-doughnut-title.png");
    text-indext: -9999px;
}
